/* 2019-11-04 Global Variables ==========================*/

:root {
  
  /* Colours ========================================================
  */
  --c-primary: #1C2440; /* Dark Blue */
  --c-secondary: #2C676A; /* Teal */
  --c-tertiary: #399455; /* Wild Forest Green */
  --c-accent-1: #2C416E; /* Resolution Blue */
  --c-accent-2: #3A639C; /* San Marino Blue */
  --c-accent-3: #4489C9; /* Celestial Blue */
  --c-accent-4: #76BE43; /* Business Centre Green */
  --c-highlight-r: #FF5F5A; /* Highlight Red */
  --c-highlight-o: #F4AC62; /* Highlight Orange */
  --c-highlight-y: #F0E069; /* Highlight Yellow */
  --c-highlight-g: #A5EB72; /* Highlight Green */
  --c-highlight-b: #7EBDE1; /* Highlight Blue */
  --c-highlight-v: #A67FDB; /* Highlight Violet */
  --c-ui-1: #020518; /* Bluish-black */
  --c-ui-2: #D6D6D9; /* Slate Grey */
  --c-ui-3: #F3F2F2; /* Off-white */
  --c-ui-4: #fff; /* White */

  
  /* Spacing ========================================================
  */
  --layout-page-width: 870px;
  --layout-content-width: 1100px;
  --layout-header-height: 74px;


  /* Font Scales ====================================================
     Unit: rem
  */
  --font-html-size: 62.5%; /* 10px */
  --font-base-size: 1.8rem; /* 18px */
  --font-base-size-2: 1.5rem;
  --line-height: calc(var(--font-base-size) * 1.777777777); /* in rem. all other spacing is a multiple of line-height to maintain vertical rhythm */
  --scale-factor: 1.333333333; /* to be used for font scaling */

  /*
   6xl  10.4
   5xl   8.4    type-display-2xl
   4xl   6.8    type-display-xl
   3xl   5.4    type-display-l
   2xl   3.2    type-display-m
   xl    2.8    type-display-s, type-body-xl
   l     2.4    type-body-l,
  Rm     1.8    type-body, type-subheading, type-heading
   s     1.4    type-body-s
   xs    1.05
   2xs   0.7875
  */
  --font-scale-6xl: 10.4rem;
  --font-scale-5xl: 8.4rem;
  --font-scale-4xl: 6.8rem;
  --font-scale-3xl: 5.4rem;
  --font-scale-2xl: 3.2rem;
  --font-scale-xl: 2.8rem;
  --font-scale-l: 2.4rem;
  --font-scale-m: var(--font-base-size);
  --font-scale-s: 1.4rem;
  --font-scale-xs: calc(var(--font-scale-s) / var(--scale-factor));
  --font-scale-2xs: calc(var(--font-scale-xs) / var(--scale-factor));



  /* Spacing Scales ===================================================

  Fibbonacci multiplication (e.g. n2 = n * 1.618): 2.7507 4.4507 7.2013 11.6520 18.8533 30.5053 49.3586 79.8638 129.2224 209.0862 338.3085
  =>Fibbonacci sequence multiplication (e.g. n2 = n * (1,2,3,5,8,13)): 1/5:0.5501 1/3:0.9169 1/2:1.3753 1:2.7507 2:5.5013 3:8.2520 5:13.7533 8:22.0053 13:35.7586 21:57.7638 34:93.5224 55:151.2862 89:244.8085
  */
  --spacing-base-size: var(--line-height);

  --spacing-component-3xl: calc(var(--spacing-component-m) * 3); /* 8.2520rem */
  --spacing-component-2xl: calc(var(--spacing-component-m) * 2.5); /* 6.8766rem */
  --spacing-component-xl: calc(var(--spacing-component-m) * 2); /* 5.5013rem */
  --spacing-component-l: calc(var(--spacing-component-m) * 1.5); /* 4.1260rem */
  --spacing-component-m: var(--spacing-base-size); /* 2.7507rem */
  --spacing-component-s: calc(var(--spacing-component-m) * 0.75); /* 2.0630rem */
  --spacing-component-xs: calc(var(--spacing-component-m) * 0.5); /* 1.3753rem */
  --spacing-component-2xs: calc(var(--spacing-component-m) * 0.25); /* 0.6877rem */
  --spacing-component-3xs: calc(var(--spacing-component-m) * 0.125); /* 0.3438rem */

  --spacing-layout-3xl: calc(var(--spacing-layout-xs) * 13); /* 35.7586rem */
  --spacing-layout-2xl: calc(var(--spacing-layout-xs) * 8); /* 22.0053rem */
  --spacing-layout-xl: calc(var(--spacing-layout-xs) * 5); /* 13.7533rem */
  --spacing-layout-l: calc(var(--spacing-layout-xs) * 4); /* 11.0026rem */
  --spacing-layout-m: calc(var(--spacing-layout-xs) * 3); /* 8.2520rem */
  --spacing-layout-s: calc(var(--spacing-layout-xs) * 2); /* 5.5013rem */
  --spacing-layout-xs: var(--spacing-base-size); /* 2.7507rem */
  --spacing-layout-2xs: calc(var(--spacing-base-size) / 2); /* 1.3753rem */
  
  /* Font theming ====================================
  */
  --display-color: var(--c-primary);
  --display-font-family: "Poppins", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --display-weight: 800;

  --text-color: var(--c-primary);
  --text-font-family: "Rubik", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --text-weight: 400;
  
  
}

/* Breakpoints ==============================
   Since browsers don't support css variables in media queries
   store them here for reference and wait excitedly

    --breakpoint-xl: var(--layout-page-width);
    --breakpoint-l: 992px;
    --breakpoint-m: 767px;
    --breakpoint-s: 480px;
*/
@media only screen and (max-width: 767px) {
  :root {
      --scale-factor: 1.25;
        /*--font-html-size: 56.25%;*/
    }
}



/* Reset ==================================== */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-position: inside;
}

a {
  color: inherit;
}


/* Oxygen Builder Overrides ============================== */
.ct-section > .ct-section-inner-wrap,
body .ct-div-block { /* Make vertical margins collapse */
   display: block;
}

@media (max-width: 1160px) {
  #main > .ct-section-inner-wrap {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}


.ct-new-columns > .ct-div-block {
    padding: 0 var(--spacing-layout-2xs) 0 var(--spacing-layout-2xs);
}

.ct-new-columns.thds-columns--no-margin > .ct-div-block {
    padding: 0;
}

.ct-new-columns > .ct-div-block:first-of-type {
    padding-left: 0;
}

.ct-new-columns > .ct-div-block:last-of-type {
    padding-right: 0;
}


@media screen and (max-width: 768px) { /* compensate for oxygen off-by-one error */
  .ct-new-columns > .ct-div-block {
      padding: 0;
    }
}

/* Oxygen Helpers =========================== */
.thds-helper_section_width_full > .ct-section-inner-wrap {
  max-width: 100%;
}

.thds-helper_wrap_page_width {
  max-width: var(--layout-page-width);
  margin-left: auto;
  margin-right: auto;
}

/* Helpers ================================== */
.thds-helper_list_reset,
.thds-helper_list_reset ul {
  list-style-type: none;
}

.thds-helper_list_reset_inline > li,
.thds-helper_list_reset_inline ul > li {
    list-style-type: none;
  display: inline;
}

.thds-fix-lining-nums {
  font-size: 1.333em;
}



/* Typography ================================ */
html {
  font-size: var(--font-html-size); /* 10px base size */
}

.type-display-2xl,
.type-display-xl,
.type-display-l,
.type-heading,
.type-subheading,
.type-body-s,
.type-body,
.type-body-l,
.type-body-xl {
  padding: 0;
}

.type-display-2xl,
.type-display-xl,
.type-display-l,
.type-heading,
.type-subheading {
  color: var(--display-color);
  font-family: var(--display-font-family);
  font-weight: var(--display-weight);
}


.type-body-xl,
.type-body-l,
body,
.type-body,
.type-body-s {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-weight);
}

.type-display-2xl {
  font-size: var(--font-scale-5xl);
  line-height: calc(var(--line-height) * 3);
  margin-top: var(--spacing-layout-m);
  margin-bottom: var(--spacing-layout-s);
  letter-spacing: -0.1rem;
  font-weight: 700;
}

.type-display-xl {
  font-size: var(--font-scale-4xl);
  line-height: calc(var(--line-height) * 3);
  margin-top: var(--spacing-layout-s);
  margin-bottom: var(--spacing-layout-xs);
  letter-spacing: -0.1rem;
}

.type-display-l {
  font-size: var(--font-scale-3xl);
  line-height: calc(var(--line-height) * 2.5);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);

}

.type-display-m {
  font-size: var(--font-scale-2xl);
  line-height: calc(var(--line-height) * 2);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
}

.type-display-s {
  font-size: var(--font-scale-xl);
  line-height: calc(var(--line-height) * 1.33333333);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
}

.type-heading {
  font-size: var(--font-scale-m);
  line-height: var(--line-height);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 700;
  color: var(--c-tertiary);
}

.type-subheading {
  font-size: var(--font-scale-m);
  line-height: var(--line-height);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: 0;
  font-weight: 700;
  color: var(--c-tertiary);
}

.type-body-xl {
  font-size: var(--font-scale-xl);
  line-height: calc(var(--line-height) * 1.5);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
}

.type-body-l {
  font-size: var(--font-scale-l);
  line-height: calc(var(--line-height) * 1.2);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
}

.type-body {
  font-size: var(--font-scale-m);
  line-height: var(--line-height);
}

.type-body-s {
  font-size: var(--font-scale-s);
  line-height: var(--line-height);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
}

.type-body p,
.type-body ul,
.type-body ol,
p.type-body,
ul.type-body,
ol.type-body {
  padding: 0;
  margin-top: 0;
  margin-bottom: var(--spacing-layout-xs);
  font-weight: 400;
}





/* Shadow Boxes */
.box-raised {
  box-shadow: 0px 3px 17px rgba(50, 50, 50, 0.3);
}





/* Component
-- Container ------------------------------------------------------------------
A container to wrap all elements. Note: not a semantic "section" use a div for that.

structure:
  div.thds-container

modifiers:
  .thds-container--fullwidth
    A 100% wide container. Combinable with all other container modifiers.

    structure:
      div.thds-container.thds-container--fullwidth

  .thds-container--no-margin
    A container with no top or bottom margins. Combinable with all other
    container modifiers.

    structure:
      div.thds-container.thds-container--no-margin

*/

.thds-container {
  max-width: var(--layout-page-width);
  margin-top: var(--spacing-layout-l);
  margin-bottom: var(--spacing-layout-s);
  margin-left: auto;
  margin-right: auto;
}

.ct-inner-content > .thds-container:first-child { /* prevent first container from having top padding */
  margin-top: 0;
}

@media screen and (max-width: 1232px) { /* NOTE: must recalculate if page width changes from 1160px */
  .thds-container {
    margin-left: var(--spacing-layout-xs);
    margin-right: var(--spacing-layout-xs);
  }
}


.thds-container--fullwidth {
  max-width: 100%;
}

@media screen and (max-width: 1232px) { /* NOTE: must recalculate if page width changes from 1160px */
  .thds-container--fullwidth {
    margin-left: 0;
    margin-right: 0;
  }
}


.thds-container--no-margin {
  margin-top: 0;
  margin-bottom: 0;
}




/* Component
-- Image ----------------------------------------------------------------------

structure:
  a.thds-link
*/
.thds-link {
  color: var(--c-accent-2);
  text-decoration: underline;
}

.thds-link:hover {
  text-decoration: none;
}




/* Component
-- Image ----------------------------------------------------------------------

structure:
  img.thds-image
*/
.thds-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}





/* Component
-- List -----------------------------------------------------------------------

structure:
  ul.thds-list
    li.thds-list__item
    [...]

modifiers:
  .thds-list--bulleted
    Add bullets.

  .thds-list--inline
    An inline list using flexbox to eliminate weird spacing issues
    with display: inline

    structure:
      ul.thds-list.thds-list--inline
        li.thds-list__item
        [...]

*/
.thds-list {
  list-style-type: none;
}

.thds-list--bulleted {
  list-style-type: square;
}

.thds-list--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}





/* Component
-- Typography -----------------------------------------------------------------
A basic container with examples of all possible typographic styles

structure:
  div.thds-typography.thds-container
    [...]
*/





/* Component
-- Embedded SVG ---------------------------------------------------------------

structure:
  codeblock.thds-embedded-svg
    svg.thds-embedded-svg__image
*/
.thds-embedded-svg__image {
  display: block;
}





/* Component
-- Text Block -----------------------------------------------------------------
Basic building block for most body text.

structure:
  div.thds-text-block
    h_.thds-text-block__title.type-subheading
    text.type-body.thds-text-block__description

modifiers:
  .thds-text-block_bulleted

*/
.thds-text-block {
    margin-bottom: var(--line-height);
}


.thds-text-block_bulleted {
  --bullet-width: var(--font-base-size);
  --bullet-dimension-ratio: 0.83360927;
  --bullet-height: calc(var(--bullet-width) * var(--bullet-dimension-ratio));

  padding-left: calc(var(--spacing-component-xl) - var(--bullet-width));
}

.thds-text-block_bulleted .thds-text-block__title {
  position: relative;
}

.thds-text-block_bulleted .thds-text-block__title:before {
  content: ">";
  position: absolute;
  top: calc((var(--line-height) - var(--bullet-height)) / 2);
  left: calc(0rem - var(--bullet-width) - var(--spacing-component-s));
  line-height: 0;
  width: var(--bullet-width);
}


.thds-text-block_large .thds-text-block__title {
  /* .type-display-l  */
  font-family: var(--display-font-family);
  font-size: var(--font-scale-xl);
  line-height: calc(var(--line-height) * 1.5);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
  letter-spacing: -0.05rem;
  font-weight: 700;
}

.thds-text-block_large .thds-text-block__description {
  /* .type-body-l */
    font-size: var(--font-scale-l);
  line-height: calc(var(--line-height) * 1.5);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
  letter-spacing: -0.03rem;
  font-weight: 400;
}





/* Component
-- Button ---------------------------------------------------------------------

structure:
  a.thds-button.type-heading
*/
.thds-button {
  display: inline-block;
  margin-bottom: 2.7rem;
  border: 2px solid var(--brand-2);
  text-decoration: none;
    text-align: center;
  padding: calc(var(--spacing-component-xs) + 0.2rem) calc(var(--spacing-component-m) + var(--spacing-component-2xs)) var(--spacing-component-xs) !important;
  color: var(--brand-2);
    cursor: pointer;
}




.thds-button:hover {
  border-color: var(--brand-4);
  color: var(--brand-1);
}


.thds-button.disabled {
    color: var(--ui-3);
    border-color: var(--ui-3);
    cursor: not-allowed;
}

.thds-button.disabled {
  color: var(--ui-3);
    border-color: var(--ui-3);
}





/* Component
-- Statistic ------------------------------------------------------------------
To display numbers, stats, or metrics prominently.

structure:
  rich-text.thds-statistic
    span.thds-statistic__number
    span.thds-statistic__unit
    span.thds-statistic__description.type-heading

*/
.thds-statistic__number {
  font-size: var(--font-scale-4xl);
  line-height: var(--font-scale-4xl);
  margin-bottom: 0;
  padding: 0;
}

.thds-statistic__unit {
  font-size: var(--font-scale-l);
  font-weight: 500;
}

.thds-statistic__description {
  display: block;
  margin-top: 0;
}





/* Component
-- Portfolio Service Overview -------------------------------------------------
Convenience component comprised of only utility classes. Used to introduce each
section of a portfolio item. Could be used for other things.

structure:
  div.thds-portfolio-service-overview
    h2.thds-portfolio-service-overview__service.type-heading
    text.thds-portfolio-service-overview__tagline.type-display-xl
    rich-text.thds-portfolio-service-overview__explanation.type-body
*/


.thds-portfolio-service-overview__explanation {
    /* thds-color-ui-2 */
    color: var(--ui-2);

    /* type-body-l */
  font-size: var(--font-scale-l);
  line-height: calc(var(--line-height) * 1.5);
  margin-top: var(--spacing-layout-xs);
  margin-bottom: var(--spacing-layout-xs);
  letter-spacing: -0.03rem;
  font-weight: 400;
}



/* Component
-- Blockquote -----------------------------------------------------------------

structure:
  rich-text.thds-blockquote
    blockquote.thds-blockquote__quote.type-body-xl
      span.thds-blockquote__attribution.type-subheading

*/
.thds-blockquote__quote {
    margin: 0;
  text-align: center;
    font-weight: 500;
}

.thds-blockquote__attribution {
  display: block;
  text-align: center;
  font-weight: 400;
}





/* Complex Component
== Icon Block ==========================================================
Building block for text with an inline SVG icon (not added via css,
meaning the icon has semantic meaning, not just a bullet point.)

structure:
  div.thds-icon-block
    codeblock.thds-embedded-svg.thds-icon-block__icon-wrapper
      svg.thds-embedded-svg__image.thds-icon-block__icon[.type-subheading,.type-display-l]
    div.thds-text-block.thds-icon-block__thds-text-block
      [...]

modifiers:
    .thds-icon-block_icon_position_left
    Position the icon to the left of the rest of the element with a margin.

*/

.thds-icon-block__icon {
  margin-bottom: calc(2 * var(--line-height) - 48px); /* 48px is height of icon */
}

.thds-icon-block__thds-text-block .thds-text-block__title { /* mix with thds-text-block */
  margin-top: 0;
    margin-bottom: 0;
}


.thds-icon-block_icon_position_left {
    position: relative;
}

.thds-icon-block_icon_position_left .thds-icon-block__icon-wrapper {
    position: absolute;
    top: calc(var(--line-height) * 2 - 48px);
}

.thds-icon-block_icon_position_left .thds-text-block {
    padding-left: calc(var(--line-height) * 4.5 - 48px);
}





/* Complex Component
== Item Overview ============================================================
Used for introducing complex items. Used on portfolio pages to introduce
the piece.

structure:
    div.thds-item-overview
        columns.thds-item-overview__intro-row
            div.thds-item-overview__intro-wrapper
                rich-text.thds-item-overview__intro-rich-text.type-body
            div.thds-item-overview__aside-wrapper
        div.thds-item-overview__subject-image-wrapper
                    img.thds-image.thds-item-overview__subject-image
                h2.thds-item-overview__list-heading.type-heading
                rich-text.thds-item-overview__list-rich-text.type-body
                    ul.thds-list.thds-item-overview__list
        columns.thds-item-overview__statistics-row
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]

*/
.thds-item-overview__subject-image-wrapper {
  min-height: var(--spacing-component-3xl);
}

.thds-image.thds-item-overview__subject-image {
  text-align: left;
  margin: 0;
  margin-bottom: var(--spacing-layout-xs);
}

.thds-item-overview__statistic-wrapper {
    width: 33.33%;
}

@media screen and (max-width: 768px) { /* compensate for oxygen off-by-one error */
    .thds-item-overview__aside-wrapper {
      margin-top: var(--spacing-layout-xs);
    }

    .thds-item-overview__aside-wrapper,
    .thds-item-overview__statistic-rich-text {
      text-align: center;
    }

  .thds-item-overview__statistic-wrapper {
          margin: var(--spacing-layout-xs) auto;
          width: 100%;
    }

    .thds-item-overview__statistic-wrapper:last-of-type {
      margin-bottom: 0;
    }

    .thds-image.thds-item-overview__subject-image {
      text-align: center;
      margin-left: auto;
        margin-right: auto;
  }
}





/* Complex Component
== Hero =======================================================================

vars:
  --hero-height: height of the hero section.
  --hero-height_mobile: height of hero when device width below breakpoint M.

structure:
  div.thds-hero
    img.thds-hero__image
    div.thds-hero__content
      //content goes here

modifiers:
  .thds-hero_content_bottom
  .thds-hero_inverted
*/
.thds-hero {
    --hero-height: 79vh;
    --hero-height_mobile: 71vh;
  height: var(--hero-height);

    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thds-hero__image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.thds-hero__content {
  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  z-index: 1;
  max-width: var(--layout-page-width);
  text-align: center;

  color: var(--ui-4);
}

.thds-hero_inverted .thds-hero__content {
  color: var(--ui-1);
}


.thds-hero__content > :first-child { /* prevent first element from having margin */
  margin-top: 0;
}

.thds-hero__content > :last-child { /* prevent last element from having bottom margin */
  margin-bottom: 0;
}

@media screen and (max-width: 1232px) { /* NOTE: must recalculate if page width changes from 1160px */
    .thds-hero__content {
    margin-left: var(--spacing-layout-xs);
    margin-right: var(--spacing-layout-xs);
        padding-bottom: var(--spacing-layout-xs);
        padding-top: var(--spacing-layout-xs);
    }
}

@media screen and (max-width: 768px) { /* compensate for oxygen off-by-one error */
  .thds-hero {
      height: var(--hero-height_mobile);
    }
}


.thds-hero_content_bottom {
  justify-content: flex-end;
}

.thds-hero_content_bottom .thds-hero__content {
  text-align: left;
  padding-bottom: var(--spacing-layout-l);
}





/* Complex Component
== CTA ========================================================================

structure:
  div.thds-cta
    h_.thds-cta__message.type-body-l
    a.thds-button.thds-cta__button.type-heading
*/
.thds-cta {
  max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: var(--spacing-component-l);
    padding-right: var(--spacing-component-l);
    overflow: hidden; /* prevent margin collapse */
}

@media screen and (max-width: 767px) {
  .thds-cta {
    max-width: 100%;
    }
}





/* Complex Component TODO
== Section Header =============================================================

structure:
  section.thds-section.thds-section-header
    h2.type-heading
    p.type-display-2xl
    img.thds-section-header__image

*/
.thds-section-header {
    display: block;
  position: relative;
}

.thds-section-header__wrapper {
  overflow: hidden;
    margin-right: 0;
}

.thds-section-header .thds-section-header__tagline {
  margin-top: var(--spacing-component-2xl);
    margin-bottom: 0;
}

.thds-section-header__image {
  position: absolute;
  top: 0;
  left: var(--spacing-layout-2xl);
  z-index: -1;
  height: 198px;
  /*border-bottom: 12px solid var(--brand-3);*/
  object-fit: cover;
  object-position: left;
}





/* Complex Component TODO
== Item Breakdown =============================================================

structure:
  columns.thds-item-breakdown
    div.thds-item-breakdown__title-wrapper
      h3.thds-item-breakdown__title
    div.thds-item-breakdown__sub-item-wrapper
      ul.thds-item-breakdown__sub-items.thds-list
        li.thds-item-breakdown__sub-item.thds-list__item.type-body
    div.thds-item-breakdown__description-wrapper
      text-block.thds-item-breakdown__description
*/
.thds-item-breakdown {
  margin-bottom: var(--spacing-layout-xs);
}

.thds-item-breakdown:last-of-type {
    margin-bottom: 0;
}

.thds-item-breakdown__title {
  /* optically align to top of section */
  margin-top: calc(var(--line-height) / var(--scale-factor) / -2);
}

.thds-item-breakdown__sub-item {
  position: relative;
  padding-left: 28px;
}

.thds-item-breakdown__sub-item:before { /* TODO extract to element */
  content: url(/wp-content/uploads/2h/img/marker-check.svg);
  position: absolute;
  top: 1px;
  left: 0;
  width: 1.7rem;
}

@media screen and (max-width: 992px) { /* compensate for oxygen off-by-one error,  */
  .thds-item-breakdown__sub-items {
      margin-bottom: var(--spacing-component-xs);
  }
}





/* Complex Component TODO
== Feature Detail =============================================================

structure:
  columns.thds-feature-detail
    div.thds-feature-detail__column
      img.thds-feature-detail__image
    div.thds-feature-detail__column
      h3.type-display-l.thds-feature-detail__name
      p.type-body-l.thds-feature-detail__summary
      ul.thds-feature-list [...]

*/
.thds-feature-detail__name {
  margin-top: 0;
}

.thds-feature-detail__image {
  display: block;
    max-width: 66.66%;
    margin: 0 auto;
}





/* Complex Component TODO
== Logo Grid ==================================================================

structure:
  div.thds-logo-grid
    div.thds-logo-grid__item
      img.thds-logo-grid__image
*/
.thds-logo-grid {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.thds-logo-grid__item {
  flex-basis: 25%;
  display: flex;
}

@media screen and (max-width: 768px) {
  .thds-logo-grid__item {
  padding: var(--spacing-component-2xs);
    flex-basis: 50%;
  }
}

.thds-logo-grid__image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.thds-logo-grid__item:hover .thds-logo-grid__image {
  -webkit-filter: none;
  filter: none;
  transition: filter 0.3s;
}





/* Component
-- Header ------------------------------------------------------------------
Override the oxygen default header

header.oxy-header.oxy-header-wrapper.oxy-sticky-header.oxy-overlay-header.thds-header       .oxy-sticker-header-active
  div.oxy-header-row.thds-header__row
    div.oxy-header-container
      div.oxy-header-left
    a.thds-header__image-link-wrapper
          img.ct-image.thds-image.thds-header__image
      div.oxy-header-center
      div.oxy-header-right
        nav.oxy-nav-menu.oxy-nav-menu-dropdowns.oxy-nav-menu-dropdown-arrow.thds-header__nav
          div.oxy-menu-toggle
            div.oxy-nav-menu-hamburger-wrap
              div.oxy-nav-menu-hamburger
                div.oxy-nav-menu-hamburger-line
                div.oxy-nav-menu-hamburger-line
                div.oxy-nav-menu-hamburger-line
          div.menu-footer-menu-container
            ul.oxy-nav-menu-list
              li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.current_page_item
                a
              li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children
                a
                ul.sub-menu
                  li.menu-item.menu-item-type-post_type.menu-item-object-page
                    a
          [...]
        [...]
*/
.thds-header {
    background-color: var(--ui-4);
}

.thds-header .oxy-header-row {
    width: auto;
}

.thds-header__image {
  height: var(--layout-header-height);
}

.thds-header__nav {
  /* .type-heading */
  font-size: var(--font-scale-s);
  line-height: var(--line-height);
    margin-top: 0;
    margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 500;
}

.thds-header__nav .menu-item.current-menu-item > a,
.thds-header__nav .menu-item.current-menu-parent > a {
    color: var(--brand-2) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__nav .menu-item a {
  line-height: var(--layout-header-height);
    padding: 0 25px;

    transition: all 0.3s;
    color: var(--brand-4) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__nav .menu-item a:hover {
    color: var(--brand-2) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
    transition: all 0.3s;
}

.thds-header__nav .oxy-nav-menu-hamburger-line {
  background-color: var(--brand-1);
}

.thds-header .oxy-nav-menu-open .sub-menu {
   background-color: var(--ui-3);
}

.thds-header .oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-hamburger-wrap {
  right: 41px;
    top: 2px;
}

.oxy-nav-menu-hamburger,
.thds-header .oxy-nav-menu-open .oxy-nav-menu-hamburger {
   transition: all 0.3s;
}

.oxy-nav-menu-prevent-overflow .thds-header .thds-header__image-link-wrapper {
  z-index: 2147483643;
}






/* Component
-- footer ------------------------------------------------------------------
Override the oxygen default header

footer.thds-footer
  div.thds-footer__row-wrapper
    div.thds-footer__row.thds-container
      [...]
  div.thds-footer__row-wrapper
    div.thds-footer__row.thds-container.thds-container--no-margin
      [...]
*/

.thds-footer {
	margin-top: var(--spacing-layout-s);
}

.thds-footer__row-wrapper {
    overflow: hidden;
}

