@use 'sass:map';

@use 'utils' as *;
@use 'mixins' as *;
@use 'tokens' as *;
@use 'reset' as *;
@use 'vendor_overrides' as *;


// BEM Syntax
// block-name__element-name_modifier-name_sub-modifier-name
// .button_theme_blast
// .button_disabled
// .button__icon_size_large
// .hero_align_center

// Modifiers
// =========
// Can be:
// - Boolean
//     .button._disabled
// - Key-Value
//     .button_theme_cherry-moon

// Can be used to change:
// - Appearance
//     - .button_size_large
// - Behaviour
//     - .button_animation_bouncy
// - Structure
//     - .button_type_labeled
// - State
//     - .button_disabled



// Dev Styles ================================
// @include baseline;
// @include outline_all;


/* Utility Classes */
// Fixes lining numbers in Playfair Display or other fonts with lining nums.
// This is a hack. Use a font with non-lining nums if possible.
.thds-fix-lining-nums {
  font-size: 1.333em;
}

/* Component
-- Typography -----------------------------------------------------------------
Typography classes. Not namespaced.

*/
html {
  font-size: $base-font-size;
}

@each $selector-name, $_ in $tokens {
  @if slice($selector-name, 1, 1) != '-' {
    .#{$selector-name} {
      @include type-style($selector-name);
    }
  }
}

body {
  @include type-style(type-body);
}


.type-body p,
.type-body ul,
.type-body ol,
p.type-body,
ul.type-body,
ol.type-body {
  @include type-style(-type-base-body);
  padding: 0;
  margin-top: 0;
  margin-bottom: spacing(layout-xs);
}


/* Component
-- Container ------------------------------------------------------------------
A container to wrap all elements. Note: not a semantic "section" use a div for that.

structure:
    div.thds-container

modifiers:
    .thds-container_width_wide
    A $layout-width-wide wide container. Combinable with all margin modifiers

    structure:
        div.thds-container.thds-container_width_wide

    .thds-container_width_full
    A 100% wide container. Combinable with all margin modifiers.

    structure:
        div.thds-container.thds-container_width_full

    .thds-container_margin_none
    A container with no top or bottom margins. Combinable with all other
    container modifiers.

    structure:
        div.thds-container.thds-container_margin_none

*/

.thds-container {
  max-width: $layout-width-content;
  margin-top: spacing(layout-m);
  margin-bottom: spacing(layout-s);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1; /* set new stacking context */

  @include respond(below, $layout-width-content + (2 * spacing(layout-2xs))) {
    /* Fix scrollbar being included in media query calc */
    margin-left: spacing(layout-2xs);
    margin-right: spacing(layout-2xs);
    padding-left: 0;
    padding-right: 0;
  }
}


.ct-inner-content > .thds-container:first-child {
  /* prevent first container from having top padding */
  margin-top: 0;
}

.thds-container_width_wide {
  max-width: $layout-width-wide;

  @include respond(below, $layout-width-wide + (2 * spacing(layout-2xs))) {
    margin-left: spacing(layout-2xs);
    margin-right: spacing(layout-2xs);
    padding-left: 0;
    padding-right: 0;
  }
}

.thds-container_width_full {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.thds-container_margin_none {
  margin-top: 0;
  margin-bottom: 0;
}

/* Component
-- Columns ------------------------------------------------------------------
This component modifies the existing flexbox grid system from Oxygen Builder.
Mostly consists of modifiers, since there are already good styles from Oxygen.

structure:
  columns.thds-columns
    div.thds-columns__columns

modifiers:
  .thds-columns_padding_none
  Remove padding from all columns, useful for images

*/

.ct-new-columns.thds-columns_padding_none > .ct-div-block {
  padding: 0 0 0 0;
}

.thds-columns {
  margin-bottom: spacing(layout-s);
}

.thds-columns:last-child {
  margin-bottom: 0;
}

/* Component
-- Card ------------------------------------------------------------------
A raised element to contain semantically related information and set it apart
from the background.

structure:
  div.thds-card

modifiers:
  .thds-columns_padding_none
  Remove padding from all columns, useful for images

*/

.thds-card {
  display: block;
  position: relative;
  min-width: spacing(layout-l);
  min-height: spacing(layout-m);
  box-shadow: inset 0 0 0 1px color(secondary);
  padding: spacing(component-m);
  transition: all 250ms ease-in-out;

  > :last-child {
    margin-bottom: 0;
  }

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    background-color: color(ui-3);
    width: 100%;
    height: 100%;
    top: spacing(component-3xs);
    right: spacing(component-3xs);
    z-index: -1;
    transition: all 250ms ease-in-out;
  }

  &:hover {
    border-color: color(secondary);
    transition: all 250ms ease-in-out;
  }

  &:hover:before {
    top: 0;
    right: 0;
    transition: all 250ms;
  }

  &_clickable {
    text-decoration: none;
  }

  &_clickable:hover {
    box-shadow: inset 0 0 0 4px color(secondary);
  }

  &_clickable:active {
    box-shadow: inset 0 0 0 6px color(secondary);
  }
}

/* Component
-- Button ---------------------------------------------------------------------

modifiers:
.thds-button_secondary
.thds-button_block

structure:
    a.thds-button
*/
.thds-button {
  @include type-style(type-heading);
  display: block;
  width: auto;
  width: max-content;
  margin: spacing(component-s) 0;
  background-color: color(secondary);
  color: color(ui-4);
  text-decoration: none;
  text-align: center;
  padding: (spacing(component-xs)) (spacing(component-s)) spacing(component-xs);
  cursor: pointer;
  position: relative;
  transition: all 250ms ease-in-out;
}

.thds-button:before {
  content: ' ';
  display: block;
  width: spacing(component-2xs);
  border-radius: 50%;
  background-color: color(tertiary);
  height: spacing(component-2xs);
  position: absolute;
  bottom: calc(0% - (#{spacing(component-2xs)} / 2));
  left: calc(50% - (#{spacing(component-2xs)} / 2));
  transition: all 300ms ease-in-out;
  transform: rotate(-180deg);
}

.thds-button:hover:before {
  transition: all 300ms ease-in-out;
  border-radius: 0;
  transform: rotate(45deg);
}

.thds-button:hover {
  background-color: color(tertiary);
  color: color(ui-3);
  transition: all 250ms ease-in-out;
}

.thds-button_secondary {
  color: color(ui-1);
  background-color: color(ui-4);
}

.thds-button_secondary:hover {
  color: color(ui-1);
}

.thds-button_block {
  display: block;
  width: auto;
}


/* Component
-- List -----------------------------------------------------------------------

structure:
    ul.thds-list
    li.thds-list__item
    [...]

modifiers:
    .thds-list_with-bullets
    Add bullets.

    .thds-list_display_inline
    An inline list using flexbox to eliminate weird spacing issues
    with display: inline

    structure:
        ul.thds-list.thds-list_display_inline
        li.thds-list__item
        [...]

*/
.thds-list {
  @include type-style(type-body);
  list-style-type: none;
}

.thds-list_bulleted .thds-list__item {
  padding-left: (spacing(component-s));
  position: relative;
}

.thds-list_bulleted .thds-list__item:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: calc(0.5em + 4px);
  @include triangle_equilateral(6px, color(tertiary));
  transform: rotate(-50deg);
}

.thds-list_bulleted .thds-list__item:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 2px;
  top: calc(0.5em + 1px);
  @include triangle_equilateral(6px, color(primary));
  transform: rotate(-50deg);
}


.thds-list_display_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/* Component
-- Embedded SVG ---------------------------------------------------------------

structure:
    codeblock.thds-embedded-svg
    svg.thds-embedded-svg__image

modifiers:
    .thds-embedded-svg_icon_m  2x line height
*/
.thds-embedded-svg {
  display: inline-block;
  margin: 0 0 0 0;
  position: relative;
  color: color(ui-1);
}
.thds-embedded-svg__image {
  display: block;
}

.thds-embedded-svg_icon_m .thds-embedded-svg__image {
  height: spacing(component-l);
}

.thds-embedded-svg:before {
  content: ' ';
  position: absolute;
  top: calc(60% - #{spacing(component-m) / 2});
  left: calc(30% - #{spacing(component-m) / 2});
}

:nth-of-type(3n-2) > .thds-embedded-svg:nth-of-type(3n-2):before {
   @include shape(parallelogram, spacing(component-m), color(secondary));
}

:nth-of-type(3n-2) > .thds-embedded-svg:nth-of-type(3n-1):before {
   @include shape(circle, spacing(component-m), color(tertiary));
}

:nth-of-type(3n-2) > .thds-embedded-svg:nth-of-type(3n):before {
   @include shape(triangle, spacing(component-m), color(accent-2));
}

:nth-of-type(3n-1) > .thds-embedded-svg:nth-of-type(3n-2):before {
   @include shape(circle, spacing(component-m), color(tertiary));
}

:nth-of-type(3n-1) > .thds-embedded-svg:nth-of-type(3n-1):before {
   @include shape(square, spacing(component-m), color(secondary));
}

:nth-of-type(3n-1) > .thds-embedded-svg:nth-of-type(3n):before {
   @include shape(parallelogram, spacing(component-m), color(tertiary));
}

:nth-of-type(3n) > .thds-embedded-svg:nth-of-type(3n-2):before {
   @include shape(triangle, spacing(component-m), color(accent-3));
}

:nth-of-type(3n) > .thds-embedded-svg:nth-of-type(3n-1):before {
   @include shape(parallelogram, spacing(component-m), color(accent-2));
}

:nth-of-type(3n) > .thds-embedded-svg:nth-of-type(3n):before {
   @include shape(square, spacing(component-m), color(secondary));
}

/* Component
-- Image ----------------------------------------------------------------------

structure:
    img.thds-image
*/
.thds-image {
  max-width: 100%;
  display: block;
  margin-bottom: spacing(layout-2xs);
}


/* Component
-- Badge ----------------------------------------------------------------------

structure:
    span.thds-badge

modifiers:
    a.thds-badge_clickable (makes a clickable badge with an a element)
*/
.thds-badge {
  @include type-style('type-badge');
  background: color(ui-2);
  padding: spacing(component-3xs) spacing(component-2xs);
  border-radius: spacing(component-3xs);
  white-space: nowrap;
}

.thds-badge_clickable {
  text-decoration:none;
  background: color(secondary);
  color: color(ui-4);
}

.thds-badge_clickable:hover {
  color: color(ui-4);
  background: color(accent-3);
}

/* Component
-- Link ----------------------------------------------------------------------

structure:
    a.thds-link
*/
.thds-link {
  color: color(tertiary);
  text-decoration: none;
  background-image: linear-gradient(90deg, color(tertiary) 0%, color(tertiary) 100%);
  background-repeat: no-repeat;
  background-size: calc(100% - 0px) 0.08em;
  background-position: 100% 100%;
  transition: background-size 0.18s ease-in-out, color 0.18s ease-in-out, padding 0.18s ease-in-out, border-radius 0.18s ease-in-out;

  &:hover {
    color: color(ui-4);
    background-size: 100% 100%;
    // padding: 0 spacing(component-2xs);
    // border-radius: spacing(component-3xs);
  }

  &_simple {
    color: color(primary);
    text-decoration: underline;
    background-image: none;
  }

  &_simple:hover {
    color: color(ui-1);
    text-decoration: none;
  }
}

/* Component
-- Hero -----------------------------------------------------------------------

vars:
    $hero-height: height of the hero section.
    $hero-image-height_mobile: height of hero image when device width below breakpoint M.

structure:
    div.thds-hero
    img.thds-hero__image
    div.thds-hero__content
        //content goes here

modifiers:
    .thds-hero_content_bottom
*/
$hero-height: 79vh;
$hero-image-height_mobile: 45vh;

.thds-hero {
  height: $hero-height;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}

.thds-hero__image {
  width:69.75%;
  height: inherit;
  object-fit: cover;
  display: block;
  margin: 0 auto 0 0;
}

.thds-hero__content {
  position: absolute;
  z-index: 1;
  max-width: ($layout-width-content + (2 * spacing(component-l)));
  text-align: center;
  background-color: color(ui-4);
  padding: spacing(component-l);
}

.thds-hero__content > :first-child {
  /* prevent first element from having margin */
  margin-top: 0;
}

.thds-hero__content > :last-child {
  /* prevent last element from having bottom margin */
  margin-bottom: 0;
}

@include respond(below, ($layout-width-content + (2 * spacing(component-l)) + (2 * spacing(layout-xs)))) {
  /* NOTE: must recalculate if page width changes from 1160px */
  .thds-hero__content {
    margin-left: spacing(layout-xs);
    margin-right: spacing(layout-xs);
    padding-bottom: spacing(layout-xs);
    padding-top: spacing(layout-xs);
  }
}

.thds-hero_content_bottom {
  display: block !important;
}


.thds-hero_content_bottom .thds-hero__content {
  position: absolute;
  bottom: 10%;
  right: spacing(component-xl);
  text-align: left;
}


@include respond(below, "oxy-s") {
  .thds-hero{
    display: block !important;
    height: auto;
  }

  .thds-hero__image {
    width: 100%;
    min-height: $hero-image-height_mobile;
  }

  .thds-hero__content,
  .thds-hero_content_bottom .thds-hero__content {
    margin-left: 0;
    margin-right: 0;
    padding: spacing(layout-s) spacing(layout-2xs) spacing(layout-2xs) spacing(layout-2xs);
    position: relative;
    bottom: auto;
    right: auto;
    text-align: left;
  }
}

/* Component
-- Hero -----------------------------------------------------------------------

structure:
    <any typography or span>.thds-highlight.thds-highlight_color_r

modifiers:
    .thds-highlight_color_r
    .thds-highlight_color_o
    .thds-highlight_color_y
    .thds-highlight_color_g
    .thds-highlight_color_b
    .thds-highlight_color_v
*/
.thds-highlight {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-g) 0.125em, color(highlight-g) 100%);
  background-repeat: no-repeat;
  background-size: calc(100%) 1.03em;
  background-position: 100% 100%;
}

.thds-highlight_color_r {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-r) 0.125em, color(highlight-r) 100%);
}

.thds-highlight_color_o {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-o) 0.125em, color(highlight-o) 100%);
}

.thds-highlight_color_y {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-y) 0.125em, color(highlight-y) 100%);
}

.thds-highlight_color_g {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-g) 0.125em, color(highlight-g) 100%);
}

.thds-highlight_color_b {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-b) 0.125em, color(highlight-b) 100%);
}

.thds-highlight_color_v {
  background-image: linear-gradient(90deg, transparent 0.125em, color(highlight-v) 0.125em, color(highlight-v) 100%);
}

/* Component
-- Text Block -----------------------------------------------------------------
Basic building block for most body text.

structure:
    div.thds-text-block
    h_.thds-text-block__title.type-subheading
    text.type-body.thds-text-block__description

modifiers:
    .thds-text-block_bulleted

*/
.thds-text-block {
  margin-bottom: spacing(component-m);
}

.thds-text-block__title {
  @include type-style(type-subheading);
}

.thds-text-block__description {
  @include type-style(type-body);
}

.thds-text-block_bulleted {
  $bullet-width: spacing(component-xs);
  $bullet-dimension-ratio: 0.83360927;
  $bullet-height: $bullet-width * $bullet-dimension-ratio;

  padding-left: spacing(component-xl) - $bullet-width;

  .thds-text-block__title {
    position: relative;
  }

  .thds-text-block__title:before {
    content: ">";
    position: absolute;
    top: (spacing(component-l) - $bullet-height) / 2;
    left: 0 - $bullet-width - spacing(component-s);
    line-height: 0;
    width: $bullet-width;
  }
}

.thds-text-block_large .thds-text-block__title {
  @include type-style(type-display-m);
}

.thds-text-block_large .thds-text-block__description {
  @include type-style(type-body-l);
}


/* Component
-- Statistic ------------------------------------------------------------------
To display numbers, stats, or metrics prominently.

structure:
    rich-text.thds-statistic
    span.thds-statistic__number
    span.thds-statistic__unit
    span.thds-statistic__description.type-heading

*/
.thds-statistic__number {
  @include type-style(-type-base-body);
  font-size: $font-scale-3xl;
  line-height: get-line-height($font-scale-3xl);
}

.thds-statistic__unit {
  font-size: $font-scale-l;
  font-weight: 500;
}

.thds-statistic__description {
  @include type-style(type-heading);
  display: block;
  margin-top: 0;
}

/* Component
-- Portfolio Service Overview -------------------------------------------------
Convenience component comprised of only utility classes. Used to introduce each
section of a portfolio item. Could be used for other things.

structure:
    div.thds-portfolio-service-overview
    h2.thds-portfolio-service-overview__service.type-heading
    text.thds-portfolio-service-overview__tagline.type-display-xl
    rich-text.thds-portfolio-service-overview__explanation.type-body
*/

.thds-portfolio-service-overview__service {
  @include type-style(type-heading);
}

.thds-portfolio-service-overview__tagline {
  @include type-style(type-display-l);
}

.thds-portfolio-service-overview__explanation {
  @include type-style(type-body-l);
}

/* Component
-- Blockquote -----------------------------------------------------------------

structure:
    rich-text.thds-blockquote
    blockquote.thds-blockquote__quote
        span.thds-blockquote__attribution

*/
.thds-blockquote__quote {
  @include type-style(type-body-xl);
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.thds-blockquote__attribution {
  @include type-style(type-subheading);
  display: block;
  text-align: center;
  font-weight: 400;
}

/* Complex Component
== Icon Block ==========================================================
Building block for text with an inline SVG icon (not added via css,
meaning the icon has semantic meaning, not just a bullet point.)

structure:
    div.thds-icon-block
    codeblock.thds-embedded-svg.thds-icon-block__icon-wrapper
        svg.thds-embedded-svg__image.thds-icon-block__icon[.type-subheading,.type-display-l]
    div.thds-text-block.thds-icon-block__thds-text-block
        [...]

modifiers:
    .thds-icon-block_icon_position_left
    Position the icon to the left of the rest of the element with a margin.

*/

.thds-icon-block__icon {
  margin-bottom: 2 * spacing(component-m) - 48px; /* 48px is height of icon */
}

.thds-icon-block__thds-text-block .thds-text-block__title {
  /* mix with thds-text-block */
  margin-top: 0;
  margin-bottom: 0;
}

.thds-icon-block_icon_position_left {
  position: relative;
}

.thds-icon-block_icon_position_left .thds-icon-block__icon-wrapper {
  position: absolute;
  top: spacing(component-m) * 2 - 48px;
}

.thds-icon-block_icon_position_left .thds-text-block {
  padding-left: spacing(component-2xl) * 2 - 48px;
}

/* Complex Component
== Item Overview ============================================================
Used for introducing complex items. Used on portfolio pages to introduce
the piece.

structure:
    div.thds-item-overview
        columns.thds-item-overview__intro-row
            div.thds-item-overview__intro-wrapper
                rich-text.thds-item-overview__intro-rich-text.type-body
            div.thds-item-overview__aside-wrapper
        div.thds-item-overview__subject-image-wrapper
                    img.thds-image.thds-item-overview__subject-image
                h2.thds-item-overview__list-heading.type-heading
                rich-text.thds-item-overview__list-rich-text.type-body
                    ul.thds-list.thds-item-overview__list
        columns.thds-item-overview__statistics-row
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]
            div.thds-item-overview__statistic-wrapper
                rich-text.thds-statistic.thds-item-overview__statistic-rich-text
                    [...]

*/
.thds-item-overview__subject-image-wrapper {
  min-height: spacing(component-3xl);
}

.thds-image.thds-item-overview__subject-image {
  text-align: left;
  margin: 0;
  margin-bottom: spacing(layout-xs);
}

.thds-item-overview__statistic-wrapper {
  width: 33.33%;
}

@include respond(below, oxy-m) {
  .thds-item-overview__aside-wrapper {
    margin-top: spacing(layout-xs);
  }

  .thds-item-overview__aside-wrapper,
  .thds-item-overview__statistic-rich-text {
    text-align: center;
  }

  .thds-item-overview__statistic-wrapper {
    margin: spacing(layout-xs) auto;
    width: 100%;
  }

  .thds-item-overview__statistic-wrapper:last-of-type {
    margin-bottom: 0;
  }

  .thds-image.thds-item-overview__subject-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Complex Component
== CTA ========================================================================

structure:
    div.thds-cta
    h_.thds-cta__message
    a.thds-button.thds-cta__button
*/
.thds-cta {
  @include box-raised;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: spacing(component-s);
  padding-bottom: spacing(component-s);
  padding-left: spacing(component-l);
  padding-right: spacing(component-l);
  overflow: hidden; /* prevent margin collapse */
}

@include respond(below, oxy-m, 0) {
  .thds-cta {
    max-width: 100%;
  }
}

.thds-cta__message {
  @include type-style(type-body-l);
  margin-bottom: 0;
}

.thds-cta__button {
  margin-bottom: spacing(component-2xs);
}

/* Complex Component TODO
== Section Header =============================================================

structure:
    section.thds-section.thds-section-header
    h2.thds-section-header__title.type-heading
    p.thds-section-header__tagline.type-display-2xl
    img.thds-section-header__image

*/
.thds-section-header {
  display: block;
  position: relative;
}

.thds-section-header__wrapper {
  overflow: hidden;
  margin-right: 0;
}

.thds-section-header__title {
  @include type-style(type-heading);
}

.thds-section-header__tagline {
  @include type-style(type-display-xl);
  margin-top: spacing(component-2xl);
  margin-bottom: 0;
}

.thds-section-header__image {
  position: absolute;
  top: 0;
  left: spacing(layout-2xl);
  z-index: -1;
  height: 198px;
  /*border-bottom: 12px solid $brand-3;*/
  object-fit: cover;
  object-position: left;
}

/* Complex Component TODO
== Item Breakdown =============================================================

structure:
    columns.thds-item-breakdown
        div.thds-item-breakdown__title-wrapper
            h3.thds-item-breakdown__title
        div.thds-item-breakdown__sub-item-wrapper
            ul.thds-item-breakdown__sub-items.thds-list
            li.thds-item-breakdown__sub-item.thds-list__item.type-body
        div.thds-item-breakdown__description-wrapper
            text-block.thds-item-breakdown__description
*/
.thds-item-breakdown {
  margin-bottom: spacing(layout-xs);
}

.thds-item-breakdown:last-of-type {
  margin-bottom: 0;
}

.thds-item-breakdown__title {
  @include type-style(type-display-l);
  /* optically align to top of section */
  margin-top: spacing(component-xs) * -1;
}

.thds-item-breakdown__sub-item {
  position: relative;
  padding-left: 28px;
}

.thds-item-breakdown__sub-item:before {
  /* TODO extract to element */
  content: url('/wp-content/uploads/2h/img/marker-check.svg');
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
}

@include respond(below, oxy-l, 0) {
  /* compensate for oxygen off-by-one error,  */
  .thds-item-breakdown__sub-items {
    margin-bottom: spacing(component-xs);
  }
}

.thds-item-breakdown__description {
  @include type-style(type-body);
}

/* Complex Component TODO
== Feature Detail =============================================================

structure:
    columns.thds-feature-detail
        div.thds-feature-detail__column
            img.thds-feature-detail__image
        div.thds-feature-detail__column
            h3.type-display-l.thds-feature-detail__name
            p.type-body-l.thds-feature-detail__summary
            ul.thds-feature-list [...]

*/
.thds-feature-detail__name {
  margin-top: 0;
}

.thds-feature-detail__image {
  display: block;
  max-width: 66.66%;
  margin: 0 auto;
}

/* Complex Component TODO
== Logo Grid ==================================================================

structure:
    div.thds-logo-grid
        div.thds-logo-grid__item
            img.thds-logo-grid__image
*/
.thds-logo-grid {
  display: flex; /* override body .ct-div-block in */
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: spacing(layout-xs);
}

.thds-logo-grid:last-of-type {
  margin-bottom: 0;
}

.thds-logo-grid__item {
  flex: 0 1 33.33333%;
  padding: 0 spacing(component-xs) spacing(component-m);
  display: flex;
  align-items: center;
  justify-content: center;
}

.thds-logo-grid__item_show_2 {
  flex: 0 1 50%;
}

.thds-logo-grid__item_show_4 {
  flex: 0 1 25%;
}

@include respond(below, oxy-m) {
  .thds-logo-grid__item {
    flex: 0 0 50%;
  }
}

.thds-logo-grid__image {
  // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  // filter: grayscale(100%);
  // transition: filter 0.3s;
  max-width: 100%;
  max-height: spacing(component-3xl);
}

// .thds-logo-grid__item:hover .thds-logo-grid__image {
//   -webkit-filter: none;
//   filter: none;
//   transition: filter 0.3s;
// }

/* Component
-- Header ------------------------------------------------------------------
Override the oxygen default header

header.oxy-header.oxy-header-wrapper.oxy-sticky-header.oxy-overlay-header.thds-header       .oxy-sticker-header-active
    div.oxy-header-row.thds-header__row
    div.oxy-header-container
        div.oxy-header-left
    a.thds-header__image-link-wrapper
            img.ct-image.thds-image.thds-header__image
        div.oxy-header-center
        div.oxy-header-right
        nav.oxy-nav-menu.oxy-nav-menu-dropdowns.oxy-nav-menu-dropdown-arrow.thds-header__nav
            div.oxy-menu-toggle
            div.oxy-nav-menu-hamburger-wrap
                div.oxy-nav-menu-hamburger
                div.oxy-nav-menu-hamburger-line
                div.oxy-nav-menu-hamburger-line
                div.oxy-nav-menu-hamburger-line
            div.menu-footer-menu-container
            ul.oxy-nav-menu-list
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.current_page_item
                a
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children
                a
                ul.sub-menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page
                    a
            [...]
        [...]
*/
.thds-header {
  background-color: color(ui-4);
}

.thds-header .oxy-header-row {
  width: auto;
}

.thds-header__image {
  height: $layout-height-header;
  margin-bottom: 0;
}

.thds-header__image-link-wrapper {
  flex: 1 0 auto;
}

.thds-header__nav {
  @include type-style(type-heading);
  font-size: get-type-size(3);
  color: color(ui-4);
  margin-top: 0;
  margin-bottom: 0;
}

.thds-header__nav .menu-item.current-menu-item > a,
.thds-header__nav .menu-item.current-menu-parent > a {
  color: color(tertiary) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__nav .menu-item a {
  height: $layout-height-header;
  padding: 0 25px;

  transition: all 0.3s;
  color: color(primary) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__nav .menu-item a:hover {
  color: color(accent-4) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
  transition: all 0.3s;
}


.thds-header__nav .menu-item.thds-header__highlight a {
  color: color(ui-4) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__nav .menu-item.thds-header__highlight a:hover {
  color: color(accent-4) !important; /* override #_nav_menu-19-6.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a */
}

.thds-header__highlight a {
  background-color: color(secondary);
}

.thds-header__highlight a:hover {
  background-color: color(primary);
}


.thds-header__nav .oxy-nav-menu-hamburger-line {
  background-color: color(primary);
}



.thds-header .oxy-nav-menu-open .sub-menu {
  background-color: color(ui-3);
}

.thds-header .oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-hamburger-wrap {
  right: 41px;
  top: 2px;
}

.oxy-nav-menu-hamburger,
.thds-header .oxy-nav-menu-open .oxy-nav-menu-hamburger {
  transition: all 0.3s;
}

.oxy-nav-menu-prevent-overflow .thds-header .thds-header__image-link-wrapper {
  z-index: 2147483643;
}

.oxy-header-container {
  padding: 0;
}

/* Component
-- footer ------------------------------------------------------------------
Override the oxygen default header

footer.thds-footer
    div.thds-footer__row-wrapper
    div.thds-footer__row.thds-container
        h2.thds-footer__tagline
        rich-text.thds-footer__contact
    div.thds-footer__row-wrapper
    div.thds-footer__row.thds-container.thds-container_margin_none
        rich-text.thds-footer__copyright
*/

.thds-footer {
  margin-top: spacing(layout-s);
}

.thds-footer__row-wrapper p,
.thds-footer__row-wrapper address {
  color: color(ui-2);
}

.thds-footer__row-wrapper {
  padding-top: spacing(layout-xs);
}

.thds-footer__row-wrapper:nth-of-type(1) {
  background-color: color(ui-3);
}

.thds-footer__row-wrapper:nth-of-type(2) {
  overflow: hidden;
  background-color: color(primary);
}

.thds-footer .thds-link_simple {
  color: color(ui-4);
}

.thds-footer .thds-link_simple:hover {
 color: color(tertiary);
}

.thds-footer__row-wrapper:nth-of-type(3) {
  background-color: color(ui-1);
}

.thds-footer__tagline {
  @include type-style(type-display-m);
  color: color(ui-3);
}



.thds-footer__copyright :last-child {
  margin-bottom: 0;
}



/* ============================================================================
====== Custom Theming =========================================================
============================================================================ */

/* Contact Us Section ---------------------------------------------------------

Section for the contact page
*/
.thds-section-contact-us {
  @include box-raised;
}